{% extends 'base.html' %}

{% block title %}{{ funcionario.nome}}{% endblock title %}

{% block content %}
  <h1 class="mt-2">{{ funcionario.nome}}</h1>
  <dl>
    <dt>ID</dt>
    <dd>{{ funcionario.id}}</dd>

    <dt>Nome</dt>
    <dd>{{ funcionario.nome }}</dd>

    <dt>Telefone</dt>
    <dd>{{ funcionario.telefone }}</dd>

    <dt>Email</dt>
    <dd>{{ funcionario.email }}</dd>

    <dt>Salario</dt>
    <dd>{{ funcionario.salario }}</dd>

    <dt>Data contratação</dt>
    <dd>{{ funcionario.data_contratacao }}</dd>

    <dt>Departamento</dt>
    <dd>{{ funcionario.departamento }}</dd>
  </dl>
  <a class="btn-sm btn-primary text-decoration-none" href="{% url 'funcionario_list' %}" role="button">Voltar</a>
{% endblock content %}
