{% extends "base.html" %}

{% block title %}HOME{% endblock title %}

{% block content %}
<div class="mb-1">
    <a class="btn-sm btn-outline-success text-decoration-none" href="{% url 'funcionario_create' %}" role="button">+ Adicionar novo funcionário</a>
</div>
<br>
<table class="table">
  <thead>
    <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Salário</th>
        <th>Data Contratação</th>
        <th>Departamento</th>
        <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    {% for funcionario in funcionarios %}
    <tr>
        <td>
          <a href="{% url 'funcionario_detail' funcionario.pk %}">{{ funcionario.nome }}</a>
          </td>
          <td>{{ funcionario.telefone }}</td>
          <td>{{ funcionario.email }}</td>
          <td>{{ funcionario.salario }}</td>
          <td>{{ funcionario.data_contratacao }}</td>
          <td>{{ funcionario.departamento }}</td>
          <td>
              <a class="btn-sm btn-info text-decoration-none" href="#" role="button">Editar</a>
              <a class="btn-sm btn-danger text-decoration-none" href="#" role="button">Excluir</a>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
